/* TOUS LES CODES HTML PRENNENT LES STYYLES DE LA MEME FEUILLE DE STYLE CSS
CES DONC LA PAGE SUIVANTES QUI CONTIENT TOUTES LES STYLES 
YRES IMPORTANT
REDIGE PAR .KYM KOUYOE MARIUS
*/


/* code css de la page html princi^pal


*/
p{

    color: blue;
    font-size: 22px;
    text-transform: capitalize;
    font-style: italic;
}
h1{
    color: darkmagenta;
}
.para2{
    color: deepskyblue;
    font-size: 40px;
    
}
.serv_1{
    color: springgreen;
    font-style: italic;
    font-size: 28;
}
.para0{
    color: #80595989
}
/* .barre_nav{
    
} */
.elmt_nav{
    margin: 10px;
    display:flex;
    
    justify-content:center;
    
    background-color:aliceblue;
    padding: 11px 10px;
    word-spacing: 10px;
    text-transform: capitalize;
    
}
/* styles particulier des element de nav */
.e1{
    border-color: aqua;
    border-width: 4px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;

}
.e2{
    border-color: aqua;
    border-width: 4px;
    border-style: solid;
    border-radius:  3px 3px 3px 3px; 
}
.e3{
    border-color: aqua;
    border-width: 4px;
    border-style: solid;
    border-radius:  3px 3px 3px 3px;
}

/* les styles du services_2 */
.para6{
    color:inherit;
    opacity: 1;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 20;
}
/* }
body{
    background-image: url(1.jpg);
} */
/* code de la page html 2 :nos services */


/* code de la page html 2 :nos realisations */


/* code de la page html 2 :a propos de nous */
