p{
    color: blue;
    font-size: 22px;
}
h1{
    color: darkmagenta;
}
.para2{
    color: deepskyblue;
    font-size: 40px;
    
}
.serv_1{
    color: springgreen;
    font-style: italic;
    font-size: 28;
}
.para0{
    color: #805959;
}